@model Clube.Modelo.Modelo.Participante

@{
    //ViewBag.Title = "Novo Participante";
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        @using (Html.BeginForm("_mdlCadastrar", "Participante", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="titulo">@ViewBag.Title</h4>
            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <!-- text input -->
                    <div class="row">
                        <div class="col-md-6 ">
                            <label>@Html.DisplayNameFor(model => model.nmParticipante)</label>
                            <input type="text" name="nmParticipante" class="form-control" maxlength="30" value="@Model.nmParticipante" required />
                        </div>
                        <div class="col-md-6 ">
                            <label>@Html.DisplayNameFor(model => model.dsApelido)</label>
                            <input type="text" name="dsApelido" class="form-control" maxlength="30" value="@Model.dsApelido" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label>@Html.DisplayNameFor(model => model.nrDDD)</label>
                            <input type="text" name="nrDDD" class="form-control" maxlength="2" minlength="2" data-inputmask='"mask": "99"' data-mask value="@Model.nrDDD" required />
                        </div>

                        <div class="col-md-10">
                            <label>@Html.DisplayNameFor(model => model.nrTelefone)</label>
                            <input type="text" name="nrTelefone" class="form-control" maxlength="9" minlength="9" data-inputmask='"mask": "999999999"' data-mask  value="@Model.nrTelefone" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="text-black">Indicado por: </label>
                            <select id="ddIndicacao" name="cdPartIndicador" class="form-control"></select>
                        </div>
                    </div>
                    <div class="row">
                        <input type="hidden" name="cdParticipante" value="@Model.cdParticipante" />
                        <input type="hidden" id="indicador" value="@Model.cdPartIndicador" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-facebook ">
                    <i class="fa fa-save"></i> Gravar
                </button>
            </div>
        }
    </div>
</div>

<script>
    $(function () {
        $(document).ready(function () {
            //$("#ddIndicacao").select2({
            //    allowClear: true,
            //    placeholder: 'Position'
            //});
        });
        $('[data-mask]').inputmask();
        $('select[name="cdPartIndicador"]').ready(function () {
            var helpers =
            {
                buildDropdown: function (result, dropdown, emptyMessage) {
                    let indicador = $('#indicador');
                    // Remove current options
                    dropdown.html('');
                    // Add the empty option with the empty message
                    dropdown.append('<option value="0">' + emptyMessage + '</option>');
                    // Check result isnt empty
                    if (result != '') {
                        // Loop through each of the results and append the option to the dropdown
                        $.each(result, function (k, v) {
                            if (indicador.val() == v.cdParticipante) {
                                dropdown.append('<option value="' + v.cdParticipante + '" selected>' + v.dsApelido + '</option>');
                            } else {
                                dropdown.append('<option value="' + v.cdParticipante + '">' + v.dsApelido + '</option>');
                            }

                        });
                    }
                }
            }

            $.ajax({
                type: "GET",
                url: 'http://' + window.location.host + '/PrjClube/Participante/ListarParticipantes',
                success: function (data) {
                    helpers.buildDropdown(
                        jQuery.parseJSON(data),
                        $('select[id="ddIndicacao"]'),
                        'Selecione um Participante'
                    );
                },
                cache: false
            });
            return false;
        });
    });
</script>