@model Clube.Modelo.Modelo.Doacao

@{
    ViewBag.Title = "Nova Doação";
}
<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content ">
        @using (Html.BeginForm(FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="titulo">@ViewBag.Title</h5>
            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <!-- text input -->

                    <div class="form-group">
                        <label for="ddParticipante">Doador: </label>
                        @Html.DropDownListFor(model => model.cdParticipante, new SelectList(ViewBag.Participantes, "cdParticipante", "dsApelido"), new { @class = "form-control select2", @required = "required" })
                        <span id="msgParticipante" class="hidden">Quem fez essa doação? Me informe por favor. <i class="em em-slightly_smiling_face"></i></span>
                    </div>

                    <div class=" form-group">
                        <label for="valor">Valor</label>
                        <input type="tel" class="form-control" maxlength="5" required="required" name="Valor" data-mask data-inputmask='"mask": "99[9]"' autocomplete="off" />
                        <span id="msgValor" class="hidden text-sm">O valor pode ser 10,20,30 ou 990. Voce que decide.</span><i id="emoji" class=" hidden em em-smile"></i>
                    </div>

                    <div class=" form-group">
                        <label for="data">Data da Doação</label>
                        @Html.TextBoxFor(model => model.dtDoacao, new { @class = "form-control datepicker", @name = "dtDoacao", @required = "required", @autocomplete = "off" })
                        <span id="msgData" class="hidden">Qual foi o dia que essa pessoa entregou a doação? <i class="em em-thinking_face"></i></span>
                    </div>

                    <div class="form-group">
                        <label for="ddPagamento">Forma de Pagamento: </label>
                        @Html.DropDownListFor(model => model.cdTipoPagamento, new SelectList(ViewBag.Pagamentos, "cdTipoPagamento", "dsTipoPagamento"), new { @class = "form-control select2", @required = "required" })
                        <span id="msgPagamento" class="hidden">Ué!? Você não precisa registrar como ele pagou? <i class="em em-laughing"></i></span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button id="btnSubmit" type="submit" class="btn btn-primary ">
                            <i class="fa fa-dollar"></i> Registrar
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script>

    $(document).ready(function () {
        $('.select2').select2({
            containerCssClass: 'form-control rounded'
            ,width: "100%"
        });
        var msg;
        var barrar = false;
        moment.locale('pt-br');
        $('[data-mask]').inputmask();
        $('.datepicker').daterangepicker({
            singleDatePicker: true
        });




        $('input[name="Valor"]').change(function () {
            let msg = $('#msgValor');
            let valor = $('input[name="Valor"]');
            let emoji = $('#emoji');
            let tamanho = valor.val().replace('_', '').length;
            let ultimoDigito = valor.val().substr(tamanho - 1, 1);


            valor.closest('.form-group').removeClass('has-error');
            msg.addClass('hidden').removeClass('text-red');
            emoji.addClass('hidden')
            barrar = false;


            //if (tamanho > 2) {
            //    valor.closest('.form-group').removeClass('has-error');
            //    msg.addClass('hidden').removeClass('text-red');
            //    emoji.addClass('hidden')
            //    barrar = false;
            //}
            //if (ultimoDigito == 0) {
            //    valor.closest('.form-group').removeClass('has-error');
            //    msg.addClass('hidden').removeClass('text-red');
            //    emoji.addClass('hidden')
            //    barrar = false;
            //}

        });

        $('#btnSubmit').click(function (e) {
            barrar = false;

            let emoji = $('#emoji');
            let msg = $('#msgValor');
            let valor = $('input[name="Valor"]');
            let tamanho = valor.val().replace('_', '').length;
            let ultimoDigito = valor.val().substr(tamanho - 1, 1);

            if (tamanho < 2) {
                valor.closest('.form-group').addClass('has-error');
                msg.removeClass('hidden').addClass('text-red');
                msg.html("O valor minimo da doação são R$10");
                emoji.removeClass('hidden')
                barrar = true;
            } else if (ultimoDigito != 0) {
                valor.closest('.form-group').addClass('has-error');
                msg.removeClass('hidden').addClass('text-red');
                msg.html("Psiu! As doações são multiplo de 10. Acho que você esqueceu de algo. <i class='em em - laughing'></i>");
                emoji.removeClass('hidden')
                barrar = true;
            }

            if (barrar) {
                e.preventDefault();
            }
        });
    });

</script>